.navbar-default {
    background-color:#2196F3;
    background-image: none;
    background-repeat: no-repeat;
   }

   .navItem
   {
       color: #FDD835;
       font-weight: bold;
   }

   .navbar-brand {
    display: flex;
    align-items: center;
  }
  .navbar-brand>img {
    padding: 7px 14px;
  }

  .final-score {
    color: #FDD835;
    font-weight: bold;
  }
  .menu-text
  {
    color:#2196F3;
    font-weight: bold;
  }

  .menu-text-2
  {
    color:#2196F3;
    font-weight: bold;
  }